.content-settings {
	height: 100%;
	position: relative;

	// .save-cancel-button-wrapper {
	// 	position: absolute;
	// 	bottom: 0;
	// }

	.playlist-content-preview {
		height: 280px;

		&.scroll {
			position: relative;
			overflow-y: scroll;
		}

		.thumbnail-preview-100 {
			background-color: #000;
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
	}

	.modal-btn {
		border-radius: 999px;
		border: 0;
		height: 40px;
		width: 40px;
		font-size: 13px;

		&:hover {
			background-color: #d0d0d0;
		}
	}
}

.content-settings-min-height {
	height: 544px;
}

.content-settings-spinner-min-height {
	height: 400px;
}
