.content-settings {
	height: 100%;
	position: relative;

	.save-cancel-button-wrapper {
		position: absolute;
		bottom: 0;
	}

	.playlist-content-preview {
		height: 290px;
	}

	.modal-btn {
		border-radius: 999px;
		border: 0;
		height: 40px;
		width: 40px;
		font-size: 13px;
	}
}

.play-location-wrapper {
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	height: 540px;
	overflow-y: scroll;
}
