<div class="content-settings p-3">
	<div class="row mb-3">
		<div class="col-lg-8">
			<h3 class="mb-1 font-weight-bold">Playlist Content Option</h3>
			<p class="m-0">Set duration, whitelisting, and display mode</p>
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="playlist-content-preview mb-3">
				<img class="image-w-100" [src]="content.thumbnail | sanitize" [alt]="content.filename || content.title" />
			</div>

			<!-- Playlist Content Basic Info-->
			<div class="row">
				<!-- Playlist Content Basic Info-->
				<div class="col-lg-8">
					<div class="playlist-content-basic-info">
						<h3 class="m-0 font-weight-bold">{{ content.fileName || content.title | nohandle | slice : 0 : 30 }}</h3>
						<p class="sm-text">
							<span> F </span>
						</p>
					</div>
				</div>
				<div class="col-lg-4 text-right">
					<span
						class="text-primary fas mr-1 fa-2x"
						[ngClass]="{
							'fa-image': content.fileType | isimage,
							'fa-video': content.fileType | isvideo,
							'fa-rss': content.fileType | isFeed
						}">
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-8"></div>
	</div>
</div>
