.playlistv2-content {
	position: relative;
	width: 122px;
	height: 112px;

	.playlistv2-content__header {
		background: rgba(#000, 0.9);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.playlistv2-content__thumbnail {
		background: #404040;
		height: 80px;
	}
}
