.playlistv2-content {
	position: relative;
	height: 112px;

	&.default-width {
		width: 122px;
	}

	.playlistv2-content__header {
		background: rgba(#000, 0.9);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.playlistv2-content__thumbnail {
		background: #404040;
		height: 80px;

		&.no-controls {
			height: 112px;
		}
	}
}

.checkbox-selector {
	margin-top: 1px;

	input {
		width: 16px;
		height: 16px;
	}
}
