<ng-container>
	<div class="assign-media-modal p-4 position-relative">
		<button class="modal-close-btn no-border top-0 right-0 no-background p-absolute" [mat-dialog-close]="false">
			<span class="fas fa-times"></span>
		</button>
		<ng-container>
			<h3 *ngIf="!is_edit; else title_edit">You are uploading content for:</h3>
			<ng-template #title_edit>
				<h3>You are editing content for:</h3>
			</ng-template>
			<p class="sm-text mb-4">Select a Dealer to get his/her Hosts and Advertiser.</p>

			<div class="text-left control-toggle mb-3" *ngIf="is_edit">
				<mat-slide-toggle class="mr-3" (change)="onToggleFloatingContent($event)" [checked]="is_floating ? 'checked' : 'false'">
				</mat-slide-toggle>
				<span class="text-muted md-text">Set as Floating Content</span>
			</div>

			<!-- Dealer -->
			<div class="dealer-autocomplete-field">
				<app-autocomplete [field_data]="dealer_autocomplete" (value_selected)="dealerSelected($event)"></app-autocomplete>
			</div>

			<!-- Host -->
			<div class="host-autocomplete-field">
				<app-autocomplete
					*ngIf="host_autocomplete.data.length; else dummyInput"
					[field_data]="host_autocomplete"
					(value_selected)="hostSelected($event)"></app-autocomplete>

				<ng-template #dummyInput>
					<div class="position-relative">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>No Host Available</mat-label>
							<input type="text" matInput [disabled]="true" />
						</mat-form-field>

						<div class="dummy-indicators">
							<app-spinner [diameter]="30" *ngIf="getting_host_advertiser"> </app-spinner>
							<h6 *ngIf="no_host_found" class="text-danger">No Host Found</h6>
						</div>
					</div>
				</ng-template>
			</div>

			<!-- Advertiser -->
			<div class="advertiser-autocomplete-field">
				<app-autocomplete
					*ngIf="advertiser_autocomplete.data.length; else dummyInput1"
					[field_data]="advertiser_autocomplete"
					(value_selected)="advertiserSelected($event)"></app-autocomplete>

				<ng-template #dummyInput1>
					<div class="position-relative">
						<mat-form-field appearance="fill" class="w-100">
							<mat-label>No Advertiser Available</mat-label>
							<input type="text" matInput [disabled]="true" />
						</mat-form-field>

						<div class="dummy-indicators">
							<app-spinner [diameter]="30" *ngIf="getting_host_advertiser"> </app-spinner>
							<h6 *ngIf="no_advertiser_found" class="text-danger">No Advertiser Found</h6>
						</div>
					</div>
				</ng-template>
			</div>

			<div *ngIf="!is_edit; else edit_button">
				<div class="d-flex justify-content-between align-items-end">
					<div>
						<button mat-button mat-raised-button class="theme-btn mt-4 mr-2" [mat-dialog-close]="assign_data" [disabled]="no_dealer">
							Done
						</button>
						<button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="assign_data">Skip</button>
					</div>

					<div>
						<mat-slide-toggle (change)="setOptimizedVideoUploadValue($event)" [(ngModel)]="optimize_video_upload">
							<small class="ml-2">Optimize video upload (Recommended)</small>
						</mat-slide-toggle>
					</div>
				</div>
			</div>

			<ng-template #edit_button>
				<button mat-button mat-raised-button class="theme-btn mt-4 mr-2" (click)="updateData()" [disabled]="no_dealer && !is_floating">
					Update
				</button>
				<button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="false">Cancel</button>
			</ng-template>
		</ng-container>
	</div>

	<ng-template #loading>
		<div class="py-5">
			<app-spinner></app-spinner>
		</div>
	</ng-template>

	<ng-template #no_dealers>
		<div class="p-3">
			<h3>No Dealers Available</h3>
			<p class="sm-text mb-4">The media files you'll be uploading will be tagged as "Floating".</p>
			<button
				mat-button
				mat-raised-button
				class="theme-btn mt-4 mr-2"
				[mat-dialog-close]="false"
				[routerLink]="['administrator/users/create-user/dealer']">
				Create Dealer First
			</button>
			<button mat-button mat-raised-button class="theme-btn mt-4" [mat-dialog-close]="true">Continue</button>
		</div>
	</ng-template>
</ng-container>
