<div class="content-basic-settings">
	<form [formGroup]="basicSettings">
		<div class="d-flex">
			<div class="flex-even mr-2" *ngIf="has_image_and_feed || (!bulk_setting && !(playlist_content?.fileType | isvideo))">
				<!-- Settings: Duration -->
				<div class="duration-form-wrapper border-bottom">
					<mat-form-field class="full-width" appearance="fill">
						<mat-label>Duration, default is 20</mat-label>
						<input name="duration" formControlName="duration" matInput placeholder="Example: 20" type="number" />
					</mat-form-field>
				</div>
			</div>

			<div class="flex-even" *ngIf="enable_position">
				<!-- Order Position -->
				<div class="duration-form-wrapper border-bottom">
					<mat-form-field class="full-width" appearance="fill">
						<mat-label>Position #</mat-label>
						<input name="duration" formControlName="seq" matInput placeholder="Example: 17" type="number" />
					</mat-form-field>
				</div>
			</div>
		</div>

		<!-- Settings: Frequency -->
		<div class="frequency-set-wrapper border-bottom py-25 d-flex" *ngIf="enable_frequency">
			<div class="flex-even">
				<strong class="sm-text">Set Frequency</strong>
			</div>
			<div>
				<mat-radio-group formControlName="frequency" aria-label="Select an option">
					<mat-radio-button class="mr-3" value="2"><strong class="sm-text">2x</strong></mat-radio-button>
					<mat-radio-button value="3"><strong class="sm-text">3x</strong></mat-radio-button>
				</mat-radio-group>
			</div>
		</div>

		<!-- Settings: Fullscreen -->
		<div class="fullscreen-toggle-wrapper border-bottom py-25 d-flex">
			<div class="flex-even">
				<strong class="sm-text">Set to Fullscreen</strong>
			</div>
			<div class="fullscreen-toggle" [ngClass]="bulk_setting && 'pr-2'">
				<mat-slide-toggle formControlName="isFullscreen"></mat-slide-toggle>
			</div>
		</div>
	</form>
</div>
