<div class="theme-container single-playlist">
	<div class="view" *ngIf="playlist as p; else spinner">
		<section class="title-section mb-4">
			<div class="d-flex align-items-center">
				<div class="flex-even">
					<h1 class="page-title">{{ p.playlistName || 'Single Playlist' }}</h1>
					<p class="sm-text mb-0">{{ p.playlistDescription || 'Nothing to show here at the moment' }}</p>
				</div>
			</div>
		</section>

		<section class="playlist-workbench">
			<mat-tab-group>
				<mat-tab label="Content Management">
					<div class="playlist-content-management-wrapper pt-3">
						<section class="playlist-content-management-controls mb-3">
							<ng-container *ngFor="let c of playlistControls">
								<button mat-button mat-raised-button class="theme-btn mr-2" [disabled]="c.disabled">
									<i class="{{ c.icon }} mr-3 text-green"></i>
									<small class="font-weight-bold">{{ c.label }}</small>
								</button>
							</ng-container>
						</section>

						<section class="bg-white box-shadow p-4 playlist-content-management rounded">
							<div class="bg-gray box-shadow p-3 playlist-contents vh-64 rounded">
								<div class="row no-gutters" #draggables id="draggables">
									<div class="col-lg-1" *ngFor="let c of playlistContents; let i = index">
										<div id="{{ 'drg_' + c.playlistContentId }}" [attr.data-id]="c.playlistContentId" class="m-1">
											<app-content
												[content]="c"
												[index]="i + 1"
												(content_selected)="contentSelected(c.playlistContentId)"
												(control_click)="contentControlClicked($event)"></app-content>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</mat-tab>
				<mat-tab label="Screens"> Content 2 </mat-tab>
				<mat-tab label="Host & Licenses"> Content 3 </mat-tab>
			</mat-tab-group>
		</section>
	</div>

	<ng-template #spinner>
		<div class="vh-60">
			<app-spinner></app-spinner>
		</div>
	</ng-template>
</div>
