<div class="theme-container single-playlis">
	<div class="view">
		<section class="title-section mb-4">
			<div class="d-flex align-items-center">
				<div class="flex-even">
					<h1 class="page-title">{{ playlistName }}</h1>
					<p class="sm-text mb-0">{{ playlistDescription }}</p>
				</div>
			</div>
		</section>

		<section class="playlist-workbench">
			<mat-tab-group>
				<mat-tab label="Content Management">
					<div class="playlist-content-management-wrapper pt-3">
						<section class="playlist-content-management-controls d-flex mb-3">
							<div class="playlist-stats d-flex">
								<div
									class="breakdown-item"
									*ngFor="let p of playlistContentBreakdown; let i = index"
									[ngClass]="i < playlistContentBreakdown.length - 1 && 'mr-4'">
									<h5 class="font-weight-bold m-0">
										<span class="text-green" *ngIf="p.active > 0">{{ p.active }}</span>
										<span class="text-gray d-inline-block mx-1 xsm-text" *ngIf="p.active > 0">of</span>
										{{ p.total }}
									</h5>
									<p class="xsm-text m-0">{{ p.label }}</p>
								</div>
							</div>
							<div class="flex-even text-right">
								<ng-container *ngFor="let c of playlistControls; let i = index">
									<button
										mat-button
										mat-raised-button
										class="theme-btn"
										[ngClass]="i < playlistControls.length - 1 && 'mr-2'"
										[disabled]="c.disabled"
										(click)="playlistControlClicked(c)">
										<i class="{{ c.icon }} mr-3 text-green"></i>
										<small class="font-weight-bold">{{ c.label }}</small>
									</button>
								</ng-container>
							</div>
						</section>

						<section class="bg-white box-shadow p-4 playlist-content-management rounded">
							<div class="filter-controls">
								<div class="d-flex">
									<div class="flex-even">
										<div class="d-flex">
											<!-- Filters -->
											<div class="filters-and-search mr-4">
												<div class="d-flex align-items-center filters-wrapper border rounded px-2">
													<h6 class="floating-title">FILTERS</h6>
													<div class="d-flex">
														<div
															class="content-filters"
															*ngFor="let p of playlistFilters; let i = index"
															[ngClass]="i == 0 && 'mr-3'">
															<button mat-button mat-raised-button class="theme-btn" [matMenuTriggerFor]="menu">
																<i class="{{ p.icon }} mr-3 text-green"></i>
																<small class="font-weight-bold mr-2">{{ p.label }}</small>
																<i class="fas fa-caret-down"></i>
															</button>
															<mat-menu #menu="matMenu">
																<button mat-menu-item *ngFor="let i of p.items">{{ i.label }}</button>
															</mat-menu>
														</div>
													</div>
												</div>
											</div>

											<!-- View Options -->
											<div class="other-options mr-4">
												<div class="d-flex align-items-center filters-wrapper border rounded px-2">
													<h6 class="floating-title">VIEW OPTIONS</h6>
													<div class="d-flex">
														<button
															mat-button
															mat-raised-button
															class="theme-btn"
															*ngFor="let p of playlistViews; let i = index"
															(click)="onChangeViewOptions(p.action)"
															[ngClass]="i == 0 && 'mr-3'">
															<i class="{{ p.icon }} mr-3 text-green"></i>
															<small class="font-weight-bold mr-1">{{ p.label }}</small>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="search-form-wrapper">
										<form class="search-form">
											<mat-form-field class="full-width" appearance="fill">
												<mat-label>Search Playlist Content</mat-label>
												<input matInput placeholder="Example: Pizza Ad" type="text" [formControl]="searchForm" />
											</mat-form-field>
										</form>
									</div>
								</div>
							</div>

							<div class="bg-gray box-shadow p-3 playlist-contents vh-64 rounded overflow-y-scroll">
								<div class="row no-gutters" #draggables id="draggables" *ngIf="!savingPlaylist && playlist as p; else spinner">
									<div
										id="{{ 'drg_' + c.playlistContentId }}"
										[ngClass]="detailedViewMode ? 'col-lg-4' : 'col-lg-1'"
										*ngFor="let c of playlistContents"
										[attr.data-id]="c.playlistContentId">
										<div class="m-1">
											<app-content
												[content]="c"
												[index]="c.seq"
												[detailed_view_mode]="detailedViewMode"
												[saving]="playlistContentsToSave.includes(c.playlistContentId)"
												(content_selected)="contentSelected(c.playlistContentId)"
												(control_click)="contentControlClicked($event)"></app-content>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</mat-tab>
				<mat-tab label="Screens"> Content 2 </mat-tab>
				<mat-tab label="Host & Licenses"> Content 3 </mat-tab>
			</mat-tab-group>
		</section>
	</div>

	<ng-template #spinner>
		<div class="vh-60">
			<app-spinner [message]="(savingPlaylist && 'Saving playlist, Please wait ...') || 'Getting Playlist, Please wait ...'"></app-spinner>
		</div>
	</ng-template>
</div>
